:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --modal-overlay-color: #f4f4fd;
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --white-background: #fff;
  --modal-background: #fcfcfc;

  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-line {
  border-bottom: 1px solid var(--accent-color);
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  padding: 0px;
  margin-right: 76px;
}

.studio-color {
  color: var(--dark-color);
}

.studio-color-footer {
  color: var(--modal-overlay-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.phone-mail {
  font-style: normal;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  background-color: var(--dark-color);
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/icons/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  background-color: var(--primary-brand-color);
  color: var(--white-background);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/**
  |============================
  | Feature
  |============================
*/
.feature {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100%-3 * 24px) / 4);
}

.feature-icon {
  width: 64px;
  height: 64px;
  fill:var(--dark-color) ;
}
.feature-bgr-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background: #F4F4FD;
border-radius: 4px;
}
/* 
.feature-item::before {
  content: "";
  display: block;
  height: 112px;
  background: var(--modal-overlay-color);
  border-radius: 4px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-strategy::before {

  

}

.item-punctuality::before {
  background-image: url(../index.html/images/icons/);

}

item-diligence::before {
  background-image: url(../index.html/images/icons/);

}

item-technologies::before {
  background-image: url(../index.html/images/icons/);

} */


/**
  |============================
  | action
  |============================
*/

.item-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.action {
  padding-bottom: 120px;
}

.action-list {
  display: flex;
  gap: 24px;
}

/**
  |============================
  | team
  |============================
*/

.team {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--modal-overlay-color);
}

.team-card {
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

/**
  |============================
  | footer
  |============================
*/
.footer-content {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-text {
  max-width: 264px;
  color: var(--accent-color);
}

/* ====== thumba ========= */

.item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.item-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/**
  |============================
  | portfolio
  |============================
*/

/**
  |============================
  | thumba
  |============================
*/
.thumba {
  padding: 120px 0;
}

.thumba-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* .thumba-item {
  width: calc((100%-8*24px)/9);
} */

.thumba-button {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--modal-overlay-color);
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
}

.thumba-button:hover,
.thumba-button:focus {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  border: 1px solid transparent;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card-box {
  background: var(--white-background);
  width: calc((100% - 2 * 24px) / 3);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

/**
  |============================
  | Footer
  |============================
*/

.footer-content {
  background: var(--dark-color);
}

.footer-text {
  color: var(--white-background);
  /* text-align: center; */
}